* {
    font-family: 'Times New Roman', Times, serif;
}

#navbar {
    background-color: #c9b29a;
}

.nav {
    cursor: pointer;
}

#status {
    height: 5em;
    width: 100%;
    background-color: #dafeff;
}

.post {
    border: 2px solid #e3e8f6;
    border-radius: 1rem;
    width: 30rem;
    padding: 0.5rem;
    background-color: #e3e8f6;
}

.top {
    height: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
}

.body {
    height: 17rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;

}

#status {
    display: flex;
}

.circle {
    border: 2px solid red;
    width: 4rem;
    height: 80%;
    padding-right: 1rem;
    border-radius: 25%;
    position: relative;
}


.profile {
    position: absolute;
    width: 4.2rem;
    margin-top: -0.2rem;
    margin-left: -0.2rem;
}


.icon {
    width: 3.5rem;
    margin-top: 0rem;
    margin-left: 0rem;
}

.icon_circle {
    height: 75%;
    width: 3.76rem;
}

.left {
    width: 63%;
    margin-right: 2rem;
}

.right {
    width: 35%;
}

#body1 {
    display: flex;
}

.chats {
    height: 33rem;
    border-radius: 1rem;
    background-color: #f2ece6;
    overflow-y: scroll;
}

.chat-heading {
    color: green;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    background-color: #f2ece6;
}

.icon_text {
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-weight: bolder;
}

.chat {
    display: flex;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 0.5rem;
}

.chat_head {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-weight: bolder;
}

.chat_body {
    font-size: 0.9rem;
    text-align: right;
}

.post_row{
    display: flex;
}

.posts{
    overflow-y: scroll;
    height: 25.7rem;
}

.nav-header1{
    color: black;
    text-decoration: none;
}
